* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

/*Primeira Parte */
body {
    background-color: black;
    color: blue;
    font-size: 20px;
}

header {
    display: flex;
    /* border: white 2px solid; */
    width: auto;
    height: 250px;
    margin: 0;
}

#img-fundo {
    max-width: 100%;
    height: auto;
}

main {
    display: flex;
    flex-direction: row;
    /* border: white 2px solid; */
    width: auto;
    height: 500px;
    margin: 0;
    margin-left: 200px;
    margin-right: 200px;
}

.apresentacao { 
    display: flex;
    /* border: white 2px solid; */
    justify-content: center;
    flex-direction: column;
    align-self: center;
    flex-basis: 100%;
    width: 200px;
}

.descricao {
    color: red;
    display: flex;
    /* border: white 2px solid; */
    justify-content: center;
    align-items: center;
    align-content: space-around;
    text-align: center;
    height: 250px;
}

.skills {
    display: flex;
    /* border: white 2px solid; */
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 20px;
    flex-grow: 0;
}

/* ul {
    list-style: none;
} */

.foto-info {
    display: flex;
    /* border: white 2px solid; */
    justify-content: space-around;
    flex-direction: column;
    align-self: center;
}

.foto {
    
    display: flex;
    /* border: white 2px solid; */
    justify-content: center;
    height: 250px;
}

#minhafoto {
    background-color: blue;
    height: 250px;
    padding: 20px;
}

.informacoes {
    display: flex;
    /* border: white 2px solid; */
    justify-content: center;
    align-self: flex-start;
    align-content: space-around;
    /* flex-basis: 20%; */
    height: 250px;
    width: 280px;
    background-color: red;
}

p {
    margin: 10px;
    text-align: center;
}
footer {
    position: relative;
    background-color: yellow;
    display: flex;
    align-items: center;
    height: 100px;
    /* border: white 2px solid; */
    justify-content: space-evenly;
}

footer a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
    padding: 0 10px;
}

