body {
    background-color: #F5EFFF;
}

h1 {
    color: #7371FC;
    font-family: 'Splash', cursive;
    font-size: 70px;
    text-align: center;
}

h2 {
    color: #7371FC;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 800px ;
    font-size: 35px;
}

p, ul, li {
    color: #A594F9;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 20px;

}

img {
    border-radius: 100%;
}

strong {
    color: #7371FC;
}

.list30 {
    font-size: 30px;
}

.list25 {
    font-size: 25px;
}

.list20 {
    font-size: 20px;
}