/*Primeira Parte */
body {
    background-color: #F5EFFF;
    padding: 0 5%;
}

.cabecalho {
    position: relative;
} 

/* div {
    border:  2px solid green;
} */

.meuNome {
    color: #A594F9;
    font-family: 'Splash', cursive;
    font-size: 70px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 25px;
}

#nav {
    color: #A594F9;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 20px;
    margin-bottom: 25px;
}

/*Final da Primeira Parte*/


/*Segunda parte*/

#minhafoto {
    float: left;
    height: 250px;
    padding: 25px;
    background-color: #A594F9;
    position: absolute;
    left: 12%;
}

.image-container {
    height: 300px;
    position: relative;
}

.descricao {
    color: #A594F9;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 35%;
    right: 12%
}

/*Final da Segunda parte*/


/*Terceira Parte*/

h2 {
    color: #7371FC;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 800px ;
    font-size: 35px;
}

ul li:nth-child(odd){
    background-color:#7371FC ;
}

ul {
    color: #A594F9;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 20px;

}

strong {
    color: #7371FC;
}

.list30 {
    font-size: 30px;
}

.list25 {
    font-size: 25px;
}

.list20 {
    font-size: 20px;
}





/*Final da Terceira Parte*/